<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Selected Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        body{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .container{
            height: 100vh;
            display: flex;
            justify-content: center;
            background-image: url('https://wallpaperaccess.com/full/124383.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .Info-book{
            background-color: rgba(255, 255, 255, 0.678);
            border-radius: 5px;
            width: 520px;

            max-height: 90vh;
            margin:auto;
        }
        

        .header-book span{
            font-weight: 600;
            font-size: 1.3rem;
        }
        .volumeInfo{
            gap: 2px;
        }

        #toggle-caption{
            font-size: .8rem;
            font-weight: 700 !important;
            border: none;
            background-color: transparent;
            display: flex;
            gap: 5px;

            align-items: center;
            justify-content: center;

            flex-direction: row-reverse;

            margin-top: 10px;
        }

        .thumbnail-book{
            width: 35%;
        }

        .thumbnail-book img{
            width: 100%;
        }

        .body-book{
            gap: 1rem;
        }
    </style>

    <body>

        <div class="container p-3 ">
            <div class="Info-book d-flex flex-column align-items-center p-3 justify-content-center ">

                <div class="header-book p-2 mb-4 ">
                    <span>{{title}}</span>
                </div>

                <div class="body-book d-flex justify-content-center align-items-center mb-4">
                    <div class="thumbnail-book rounded-1 overflow-hidden">
                        <img src="{{thumbnail}}" alt="">
                    </div>
    
                    <div class="volumeInfo d-flex flex-column">
                        <span><b>Page Count:</b> {{pageCount}}</span>
                        <span><b>Language:</b> {{language}}</span>
                        <span><b>Authors:</b> {{#authors}}
                                {{authors}}
                            {{/authors}}
                        </span>
                        <span><b>Publisher:</b> {{publisher}}</span>
                        <span><b>Published Date:</b> {{publishedDate}}</span>
                    </div>
                </div>

                <h2 class="text-left w-100">Description</h2>

                <div class="description-book overflow-auto w-100 ">
                    <span id="displayed-content">{{description}}</span>
                    <span id="hidden-content"></span>

                    <button id="toggle-caption" type="button">Show more</button>
                </div>
                
            </div>
        </div>

        <script>
            let descArea = document.querySelector('.description-book');
            let content_displayed = document.querySelector("#displayed-content");
            let content_hidden = document.querySelector('#hidden-content');
            let desc_text = content_displayed.innerText;
            $(content_hidden).hide();

            
            function setContentDisplayed(text){

                let index = text.indexOf('<br>');

                if(index == -1){
                    index = text.indexOf('.')+1;
                }
                return text.substring(0, index);
            }

            function setContentHidden(text){
                let index = text.indexOf('<br>');

                if(index == -1){
                    index = text.indexOf('.')+2;
                }

                return text.substring(index, text.length)
            }

            content_displayed.innerHTML = setContentDisplayed(desc_text);
            content_hidden.innerHTML = setContentHidden(desc_text);
            
            document.querySelector('#toggle-caption').addEventListener("click",()=>{

                $(content_hidden).fadeToggle('fast');
                if(document.querySelector("#toggle-caption").innerHTML == 'Show more'){
                        document.querySelector("#toggle-caption").innerHTML = 'Show less'
                    }

                else if (document.querySelector("#toggle-caption").innerHTML == 'Show less'){
                    document.querySelector("#toggle-caption").innerHTML = 'Show more'
                }
        
            })

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
     
    </body> 
</html>

