<div class="main-area">
    <img src="https://wallpaperaccess.com/full/124383.jpg" alt="">

    <div class="search-area">
        <h1 class="text-white text-center">Google Books</h1>

        <form method="get" action="/search" class="input-group rounded search--component">
            <input id="form1" name="q" type="search" class="form-control " placeholder="Search" autocomplete="off"/>

            <button type="submit" id="search-btn" class="btn btn-primary rounded-end"><i class="bi bi-search"></i></button>
          
        </form>


    </div>
</div>