<div class="main-area">
    <img src="https://wallpaperaccess.com/full/124383.jpg" alt="">

    <div class="search-area">
        <h1 class="text-white text-center">Google Books</h1>

        <form method="get" action="/search" class="input-group rounded search--component">
            <input id="form1" name="q" type="search" class="form-control" placeholder="Search" autocomplete="off"/>

            <input type="submit" id="search-btn" value="Search" class="btn btn-primary bi bi-search rounded-end">
          
        </form>


    </div>
</div>