<div class="main-area">
    <img src="https://www.spescoladeteatro.org.br/wp-content/uploads/2020/05/books.jpg" alt="">

    <div class="search-area w-100">
        <h1 class="text-white text-center">Google Books</h1>

        <form method="get" action="/search" class="input-group rounded search--component">
            <input id="form1" name="q" type="search" class="form-control" placeholder="Search" autocomplete="off"/>

            <input type="submit" id="search-btn" value="Search" class="btn btn-primary bi bi-search rounded-end">
          
        </form>


    </div>
</div>